<h1>Cocktails</h1>
<div class="container">
  <% @cocktails.each_slice(3) do |cocktails| %>
    <div class="row no-gutters">
      <% cocktails.each do |cocktail| %>
        <div class="col-4">
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card m-1 border-0">
              <img class="card-img" src="<%= cl_image_path cocktail.image.key, height: 300, width: 300, crop: :fill %>" alt="cocktail image">
              <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center">
                <h5 class="card-title text-light title"><%= cocktail.name.upcase %></h5>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
