<h1>Cocktails</h1>
<div class="container">
  <% @cocktails.each_slice(3) do |cocktails| %>
    <div class="row no-gutters">
      <% cocktails.each do |cocktail| %>
        <div class="col-4">
          <div class="card m-1 border-0">
            <img class="card-img" src="<%= cocktail.image_url %>" alt="cocktail image">
            <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail), :style=> 'color: white;' %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to 'Add New Cocktail', new_cocktail_path %>

